# Interview - Kangaroo Words
> A tutorial of fastpages for Jupyter notebooks.

- toc: true 
- badges: true
- comments: true
- categories: [interview]
- image: images/chart-preview.png

In [118]:
def is_kang_word(word,kang) -> bool:
    word = word.upper()
    kang = kang.upper()
    if len(word) == len(kang): return False
    k_ptr = w_ptr = 0
    while True:
        if kang[k_ptr] == word[w_ptr]:
            k_ptr += 1
        w_ptr += 1
        if k_ptr == len(kang): 
            return True
        if w_ptr == len(word): break
    return False

In [121]:
import re
def is_kang_word(word,kang) -> bool:
    if len(word) == len(kang): return False
    return re.match(f".*{'.*'.join(kang)}.*",word)

In [89]:
import re
def is_kang_word(word,kang):
    pattern = f'.*{".*".join(kang)}.*'
    return re.match(pattern,word) and len(word) != len(kang)

In [122]:
for word,kang in kang_pairs:
    is_or_not = " not "
    if is_kang_word(word.upper(), kang.upper()):
        is_or_not = " "
    print(f"{word.upper()} is{is_or_not}a kangaroo word for {kang.upper()}")

FOOTBALL is a kangaroo word for BALL
ALE is not a kangaroo word for APPLE
APPLE is a kangaroo word for ALE
CLEMSON is a kangaroo word for SON
ALLOCATE is a kangaroo word for ALLOT
MERCER is not a kangaroo word for CERR
BITCH is not a kangaroo word for BITCH
EEEEEEEE is a kangaroo word for EEEEEEE

In [1]:
import numpy as np

In [16]:
nar1 = np.array([1,3,2])

In [8]:
nar

array([1, 3, 2])

In [9]:
nar.sum()

6

In [17]:
nar2 = np.array([4,6,5])

In [13]:
import pandas as pd

In [14]:
df = pd.Series(nar)

In [31]:
df = pd.DataFrame([nar1,nar2],index=[100,200])

In [32]:
df

     0  1  2
100  1  3  2
200  4  6  5

In [29]:
df = pd.DataFrame({'c1': nar1, 'c2': nar2},index=['a','b','c'])

In [30]:
df

   c1  c2
a   1   4
b   3   6
c   2   5

In [64]:
arr = ['9:30', '11:15', '16:30']
dep = ['9:00','11:45', '11:30', '16:45']

In [65]:
arr_int = [int(h)*60+int(m) for h,m in [tm.split(":") for tm in arr]]
dep_int = [int(h)*60+int(m) for h,m in [tm.split(":") for tm in dep]]
dep_int.sort()

In [66]:
arr_int

[570, 675, 990]

In [67]:
dep_int

[540, 690, 705, 1005]

In [68]:
arr_ptr = dep_ptr = cnt = gates = 0

In [70]:
while True:
    if arr_int[arr_ptr] <= dep_int[dep_ptr]:
        print("arrival")
        cnt += 1
        arr_ptr += 1
    else:
        print("departure")
        cnt -= 1
        if cnt < 0:
            raise ValueError("cannot have negative count")
        dep_ptr -= 1
    gates = max(gates,cnt)
    if arr_ptr == len(arr_int):
        break
print(f'gates = {gates}')

departure

ValueError: cannot have negative count